<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<span id="error_message_holder"></span>
<form>
    First name <input type="text" id="firstname"/>  <br>
    Second name <input type="text" id="secondname"/> <br>

    E-mail address <input type="text" id="email"/> <br>

    <button id="submit">Register now!</button> <br>

</form>
</body>
<script>
    $( "#submit" ).click(function(event) {
        var error = "";

        // prevent the default form submission.
        event.preventDefault();

        // firstname
        var fn = $( "#firstname" ).val();


        if(fn.length == 0){
            error += "Please enter a firstname<br>";
        }

        // second name
        var sn = $( "#secondname" ).val();

        if(sn.length == 0){
            error += "Please enter a second name<br>";
        }

        // email
        var em = $( "#email" ).val();

        if(em.length == 0){
            error += "Please enter an email address<br>";
        }

        $( "#error_message_holder" ).html(error);

        if(error == ""){
            alert("No errors");


        }
    });

</script>
</html>